@charset "UTF-8";
/*公用样式*/
html , body { -webkit-text-size-adjust:none;}
html {font-size: 100%;}
/*body {font-size: 1em;background: url(../Images/bg.jpg);}*/
body, h1, h2, h3, h4, h5, h6, hr, p,blockquote,dl, dt, dd, ul, ol, li,form, fieldset, legend, button, input, textarea,th, td, img {border:none;margin: 0;padding: 0;}
body,button, input, select, textarea {font-family:"宋体",tahoma,sans-serif;line-height:1.5;}
em{font-style:normal;}
ul, ol ,dl { list-style: none; }
a { text-decoration: none;}
a:hover {text-decoration: underline;}
img{ border:0px;display:block;}
h2 ,h3 {font: bold 1em "Microsoft YaHei";}
.wenzi{text-align: center; font-size: 20px; margin-top: 20px;}
/*.bg {background: url(../Images/bground.jpg) center 0 no-repeat;}*/
.container {width: 1002px;margin: 0 auto;}
.clearfix:after ,.column:after {content:"."; display:block; height:0; visibility:hidden; clear:both;}
.clearfix ,.column{ *zoom:1;}
.left {float: left;}
.right {float: right;}
.no_outline {outline: none;text-indent: -9999px;cursor: pointer;}
.sup {position: absolute;top: 4px;right: 1px;padding: 1px 2px;font-size: 12px;color: #fff;}
.sup {font-size: 14px\9;}
.hot {background: #f00;}
.new {background: #648a0b;}
/**公共header样式**/
.header {position: relative;z-index: 9999;height: 161px;}
/*.subNav {position: absolute;top: -3px;left: 20px;padding: 8px 0 0 100px;background: url("../Images/top_bg.png") 0 4px no-repeat;}*/
.gong_neng {position: absolute;top: -3px;right: 20px;padding-top: 10px;}
.subNav li ,.subNav a , .gong_neng li ,.gong_neng a {float: left;}
.subNav a ,.gong_neng a {font-size: 0.813em;}
.subNav a {margin-right:20px;color:#E74C3C;}
.gong_neng a {margin-left:20px;color: #635746;}
/*.logo {display: block;position: absolute;top: 50px;left: 20px;width: 122px;height: 55px;background: url("../Images/logo.png") no-repeat;_background: url("../Images/logoo.png") no-repeat;}*/
.search {
    position: absolute;
    top: 72px;
    left: 259px;
    z-index: 9999;
    width: 378px;
    height: 30px;
    background: #fff;
    border: 1px solid #999;
    z-index:9999;
}
.search a{
    color:#333;
}
.search_list {
    position: absolute;
    top: 47px;
    left: 259px;
    width:  378px;
    z-index:99999;
}
.search_list a ,
.search_list li{
    float:left;
}
.search_list a {
    padding:2px 10px 0;
    font-size:0.875em;
    color:#E74C3C;
    font-weight:bold;
}
.search_list .cur {
    color:#333;
    background:#fff;
    padding:2px 15px;
    border:1px solid #999;
    border-bottom:none;
    background:#fff;
}
.search_text {
    width: 318px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    border: #fff;
    color: #666;
    font-size:14px;
}
.search_btn {
    width: 40px;
    height: 30px;
    /*background: url("../Images/btn.png") -55px -286px no-repeat;*/
}
/*.search_btn:hover {background: url("../Images/btn.png") -55px -320px no-repeat;}*/
.login_bar {
    position: absolute;
    top: 50px;
    right: 20px;
    z-index: 99999;
}
.info {font-size:0.75em;}
.info a {color:#333;}
.login {
    width: 91px;
    height: 33px;
    /*background: url("../Images/btn.png") 0 -184px no-repeat;*/
}
/*.login:hover {background: url("../Images/btn.png") 0 -218px no-repeat;}*/
/*.login:active {background: url("../Images/btn.png") 0 -252px no-repeat;}*/
.login_btn {
    position: relative;
    width: 27px;
    height: 33px;
    /*background: url("../Images/btn.png") -94px -184px no-repeat;*/
    font-size: 0.875em;
}
/*.login_btn:hover {background: url("../Images/btn.png") -94px -218px no-repeat;}*/
/*.login_btn:active {background: url("../Images/btn.png") -94px -252px no-repeat;}*/
.login_list_wrapper {display: none;}
.login_list {
    position: absolute;
    top: 42px;
    right: 0;
    width: 119px;
    z-index: 999;
    background: #999;
}
.login_list a {display: block;height: 26px;line-height: 26px;margin-left: 2px!important;margin-left: 4px;color: #fff;text-align: left;text-indent: 28px;}
/*.login_list_top {position: absolute;top: 35px;right: 0;display: block;width: 119px;height: 7px;background: url("../Images/btn.png") 0 -388px no-repeat;}*/
/*.login_list_bottom {position: absolute;top: 120px;right: 0;z-index: 9999;display: block;width: 119px;height: 3px;background: url("../Images/btn.png") 0 -396px no-repeat;}*/
/*.qq_login {width:32px;height:32px;margin-right:10px;background: url("../Images/btn.png") right 0 no-repeat;}*/
/*.login_qq {background: url("../Images/btn.png") 0 0 no-repeat;}*/
/*.login_qq:hover {background: url("../Images/btn.png") 0 -27px no-repeat;_color:#fff;}*/
/*.login_sina {background: url("../Images/btn.png") 0 -54px  no-repeat;}*/
/*.login_sina:hover {background: url("../Images/btn.png") 0 -81px no-repeat;_color:#fff;}*/
/*.login_ren {background: url("../Images/btn.png") 0 -108px  no-repeat;}*/
/*.login_ren:hover {background: url("../Images/btn.png") 0 -135px no-repeat;_color:#fff;}*/
/*.register {width: 54px;height: 33px;margin-left: 10px;background: url("../Images/btn.png") 0 -286px no-repeat;}*/
/*.register:hover {background: url("../Images/btn.png") 0 -320px no-repeat;}*/
/*.register:active {background: url("../Images/btn.png") 0 -354px no-repeat;}*/
.minilogindiv {font-size:0.875em;color:#333;}
.minilogindiv p {margin-top:10px;}
.minilogindiv p:first-child {margin-top:0;}
.minilogininput {border:1px solid #ccc;color:#333;height:22px;line-height:22px;}
/*.nav {position: absolute;bottom: 0;left: 0;z-index: 99;width: 1000px;height: 39px;padding: 0 1px;background: url("../Images/nav_bg.png") repeat-x;}*/
.nav li {position: relative;float: left;height: 39px;}
.nav li:hover {background: #ff7a00;}
.nav li ul li:hover {background:#fff;}
.nav a {display: block;width: 104px;font: 1em/37px "Microsoft YaHei";color: #fff;text-align: center;}
.nav .curr a {background: #fafafa;margin-top: 6px;color: #C41422;}
.nav .shangXiang {background-position: 94px 22px;}
.nav .fangSheng {background-position: 68px 22px;}
.nav .shangXiang_list {display:none;position: relative;z-index:999;background: #ff7a00;padding: 0 2px 2px;}
.cnav{display:none;position:absolute; top: 38px;left: 0;width:102px;border:1px solid #ccc;background: #fff; padding-bottom:1px;box-shadow:0px 0px 2px #666;}
.cnav li {text-align:center;}
.cnav li:first-child a {border-top:none;}
.cnav a {width:78px;margin:0 12px;font: bold 0.875em/37px "宋体";color:#666;border-top:1px dotted #ccc;}
.cnav a:hover {color:#ff7a00;}

/*公共content*/
.content {padding: 20px;border: 1px solid;border-color: #ccc #ccc #b3a795 #ccc;}

/*分页*/
.page{text-align:right;padding:20px 0 2px;color: #666;font-size: 0.875em;}
.page a{padding: 3px 4px;background:#fff;border:1px solid #e0e0e0;color: #666;}
.page a:hover{color: #C41422;text-decoration: none;border-color:#C41422;}
.current {padding: 3px 10px;color: #fff;border:1px solid #C41422;background:#C41422;}
/*公共footer*/
.footer {margin:0 auto;text-align: center;padding: 20px 0;font-size:14px;}
.footer ul {color: #874f0f;}
.footer li {display: inline;}
.footer .copy {font-family:arial;color: #874f0f;}
.footer li a { text-decoration: none; color:#874f0f;}
.footer li a:hover {color:#FF0000;}

.tabs{margin: 21px 0 0 0;}
.tabs .tab{margin: 10px 0 0 0;display: inline-block;width:120px;height:30px;line-height:30px;background-repeat: no-repeat;  background-position: 5px center;padding: 0 10px 0 30px;color:#333;}
.tabs .tab:hover{}
.tabs .tab.on{color: #333;background: #fff;margin-left: -2px;}
.tabcontent{display: none;width: 360px;overflow: hidden;height: 400px;background: #fff;}
.tabcontent.on{display: block;}

/*弹出登录*/
.poplogin{background:#edf0f2;}
.poplogin a{color:#838988;}
.poplogin a:hover{color:#838988;text-decoration: none;}
.poplogin .tips{text-align:center;color:#F00;}
.poplogin p{position:relative;height:30px;line-height:30px;margin:0 0 20px 0;}
.poplogin .left{float:left;padding:0 30px 0 20px;height:200px;border-right:2px solid #dde2e5;width: 300px;}
.poplogin .right{float:left;padding:20px;width:130px;}
.poplogin .text{line-height:30px;height:30px;padding:0 10px 0 44px;width:250px;border:1px solid #eee;position:absolute;}
.poplogin .btn{width:100%;height:30px;font-size:16px;background:#39b94e;color:#fff;cursor: pointer;}
.poplogin .btn.gray{background:#d0d6d9;}
.poplogin .btn.submitlogin{background-color: #3ab94e;text-indent: 0;}
.poplogin .btn.submitlogin:hover{background-color: #65c875;}
.poplogin .btn.submitlogin.disabled{background-color: #ABC3AF;}
.poplogin .icon{display:inline-block;padding:8px 10px;position:absolute;background: #eee;}
.poplogin .qqloginbtn,.poplogin .registerbtn{margin: 10px 0 0 0;display: inline-block;width:120px;height:30px;line-height:30px;background-repeat: no-repeat;  background-position: 5px center;padding: 0 10px 0 30px;color:#fff;}
/*.poplogin .qqloginbtn{background-color:#20ace6;background-image:url('/Home/Tpl/Home/default/Public/images/qqloginbtn.png');}*/
/*.poplogin .registerbtn{background-color:#bd5edd;background-image:url('/Home/Tpl/Home/default/Public/images/register.png');}*/
.poplogin .qqloginbtn:hover{background-color:#65aede;color: #fff;}
.poplogin .registerbtn:hover{background-color:#65aede;color: #fff;}

/*九宫格中文验证码*/
/*.captcha_img_wrap,.captcha_input,.captcha_grid_buttons div{background: url('/Element-validcode.html') no-repeat;}*/
.captcha_img_wrap{width: 120px;height: 29px;display: inline-block;background-position: -3px -11px;}
.captcha_input{float: left;width: 45px;height: 34px;border: 1px solid #CCC;margin-right: -1px;background-position: 100px 100px;}
.captcha_grid_buttons a {
    display: block;
    float: left;
    margin: 0 5px 5px 0;
    width: 54px;
    height: 40px;
    border: 1px solid #E0E0E0;
    border-bottom-color: #BFBFBF;
    outline: 0;
    background: -ms-linear-gradient(top,#fff,#f5f5f5);
    background: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#f5f5f5));
    background: -moz-linear-gradient(top,#fff,#fafafa);
    filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0, startColorStr=#FFFFFF, endColorStr=#F5F5F5);
    zoom: 1;
}
.captcha_grid_buttons div {width: 54px;height: 40px;cursor: pointer;zoom: 1;}
.captcha_grid_buttons .captcha_btn_0 {background-position: -7px -63px;}
.captcha_grid_buttons .captcha_btn_1 {background-position: -66px -63px}
.captcha_grid_buttons .captcha_btn_2 {background-position: -125px -63px;}
.captcha_grid_buttons .captcha_btn_3 {background-position: -7px -100px;}
.captcha_grid_buttons .captcha_btn_4 {background-position: -66px -100px;}
.captcha_grid_buttons .captcha_btn_5 {background-position: -125px -100px;}
.captcha_grid_buttons .captcha_btn_6 {background-position: -7px -142px;}
.captcha_grid_buttons .captcha_btn_7 {background-position: -66px -142px;}
.captcha_grid_buttons .captcha_btn_8 {background-position: -125px -142px;}

.rollto{position:fixed;right:50%;bottom:8px;z-index:999;width:32px;display: none;margin: 0 -643px 0 0;bottom:200px;}
.rollto .btn{margin-top: 1px;padding: 8px 10px 9px;height: 30px;}
.rollto .btn i{margin-top: 0;}
.fixed-block {margin-left:-24px;width: 58px;}
.fixed-block a {background-color: #A6A6A6;color: #FFFFFF;display: block;width: 58px;height: 20px;margin: 5px 0;padding-top: 38px;position: relative;text-align: center;text-indent: 10em;overflow: hidden;}
#qqContact .icon, #backToTop .icon {width: 48px;height: 48px;margin:-24px 0 0 -24px;position: absolute;left: 50%;top: 50%;}
/*#backToTop .icon {background: url("../images/backtop-icon.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);}*/
#backToTop:hover .icon{background-position: -48px 0;}
/*#qqContact .icon {background: url("../images/service-icon.png") no-repeat scroll center center rgba(0, 0, 0, 0);}*/





.poplogin1{background:#ccc;width: 650px;height: 350px;margin: -20px -25px;overflow: hidden;}
.poplogin1 a{color:#838988;}
.poplogin1 a:hover{color:#838988;text-decoration: none;}
.poplogin1 .tips{text-align:center;color:#F00;}
.poplogin1 p{position:relative;height:30px;line-height:30px;margin:0 0 20px 0;}
.poplogin1 .left{float:left;width: 400px;height: 100%;background: #fff;padding: 20px 25px;}
.poplogin1 .right{float:left;width:150px;}
.poplogin1 .text{line-height:30px;height:30px;padding:0 10px 0 44px;width:250px;border:1px solid #eee;position:absolute;}
.poplogin1 .btn{width:100%;height:30px;font-size:16px;background:#39b94e;color:#fff;cursor: pointer;}
.poplogin1 .btn.gray{background:#d0d6d9;}
.poplogin1 .btn.submitlogin{background-color: #3ab94e;}
.poplogin1 .btn.submitlogin:hover{background-color: #65c875;}
.poplogin1 .btn.submitlogin.disabled{background-color: #ABC3AF;}
.poplogin1 .icon{display:inline-block;padding:8px 10px;position:absolute;background: #eee;}

/*.poplogin1 .tabs .tab.qqloginbtn{color:#fff;background-color:#20ace6;background-image:url('/Home/Tpl/Home/default/Public/images/qqloginbtn.png');}
.poplogin1 .tabs .tab.registerbtn{color:#fff;background-color:#bd5edd;background-image:url('/Home/Tpl/Home/default/Public/images/register.png');}
.poplogin1 .tabs .tab.qqloginbtn:hover{background-color:#65aede;color: #fff;}
.poplogin1 .tabs .tab.registerbtn:hover{background-color:#65aede;color: #fff;}*/
.poplogin1 #localLogin{padding-right: 20px;}
.poplogin1 #qlogin-frm iframe{margin: -70px 0 0 -60px;}
.poplogin1 #weixin_login_container iframe{width: 100%;}
.poplogin1 #LocalReg .text{padding: 0 10px;position: static;}
.poplogin1 #LocalReg .text.verifycode{width: 100px;}
.poplogin1 #LocalReg .refresh_verifyimg{display: inline-block;vertical-align: middle;margin-left: 10px;}
.poplogin1 #LocalReg .verifyimg{display: inline-block;vertical-align: middle;width: 70px;margin-left: 10px;}
.poplogin1 #LocalReg .radio{margin-right:20px; }
.poplogin1 #LocalReg .radio input{margin:0 10px;}